<div class="box-right">
  <div class="hadRight">
    <div class="title">{{title}}</div>
  </div>
  <div class="regform">
    <form class="example-form" #rateForm ="ngForm">

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Name" #name>
            </md-form-field>
          </td>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Email" #email>
            </md-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Race number">
            </md-form-field>
          </td>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Name of racer" #email>
            </md-form-field>
          </td>
        </tr>
      </table>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Rate" #name>
      </md-form-field>

      <p>
        <button md-raised-button color="primary" type="submit">BET</button>
      </p>

    </form>

  </div>
</div>
