<div>
  <button md-button color="primary" class="my-button" onClick='location.href="/"'>
    <i class="material-icons md-18 mat-button-wrapper">home</i>
    {{ nameButton1 }}
  </button>
</div>
<div>
  <button md-button color="primary" class="my-button">
    <i class="material-icons md-18">directions_car</i>
    {{ nameButton2 }}
  </button>
</div>
<div>
  <button md-button color="primary" class="my-button">
    <i class="material-icons md-18">fingerprint</i>
    {{ nameButton3 }}
  </button>
</div>
<div>
  <button md-button color="primary" class="my-button">
    <i class="material-icons md-18">attach_money</i>
    {{ nameButton4 }}
  </button>
</div>
<div>
  <button md-button color="primary" class="my-button" onClick='location.href="/registration"'>
    <i class="material-icons">accessibility</i>
    {{ nameButton5 }}
  </button>
</div>
<div>
  <button md-button color="primary" class="my-button" onClick='location.href="/login"'>
    <i class="material-icons">input</i>
    {{ nameButton6 }}
  </button>
</div>
