.box-rigt {
  float: right;
  height:100%;
  width: 79.9% ;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0%;
  bottom: 0px;
  border-left: 1px solid #3f51b5;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.login{
  margin-top:	3.5%;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 50%;
}

.hadRigt{
  padding-left: 10%;
  padding-top: 4%;
  height: 67px;
  color: aliceblue;
  background-color: #3f51b5;
}

.title{
  font-weight: 300;
  font-size: 30px;
}
