<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic">
<div>
  <div class="fontHadStyle"><img src="../image/158575-200.png">
    <div style="padding-top: 30px; padding-right: 67%; float: right;">HOME</div>
  </div>
  <div class="box-left">
    <div>
      <button md-button color="primary" class="my-butone">
        <i class="material-icons md-18 mat-button-wrapper">home</i> HOME
      </button>
    </div>
    <div>
      <button md-button color="primary" class="my-butone"><i class="material-icons md-18">directions_car</i> RUNS</button>
    </div>
    <div>
      <button md-button color="primary" class="my-butone"><i class="material-icons md-18">fingerprint</i> KABIN</button>
    </div>
    <div>
      <button md-button color="primary" class="my-butone"><i class="material-icons md-18">attach_money</i> SELS</button>
    </div>
    <div>
      <a href="./registration/registration.html">
        <button md-button color="primary" class="my-butone" onClick='location.href=""'>
          <i class="material-icons">accessibility
          </i> registration
        </button>
      </a>
    </div>
  </div>

  <div class="box-rigt">
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
    <md-card class="todo">Simple card</md-card>
  </div>

</div>
