
.box{
  text-align: center;
}

.box-left {
  float: left;
  width: 20%; /* Ширина блока */
  height: 100%;
  padding: 0px; /* Поля */
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.box-rigt {
  float: right;
  height:100% ;
  width: 79.9% ;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0%;
  bottom: 0px;
  border-left: 1px solid #3f51b5;
  box-shadow: -5px 9px 23px -12px #000000;
}

.logo{
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
  background-color: #3f51b5;
  height: 100px;
  width: 100% ;
  margin: auto;
}

.my-butone{

  height: 40px;
  width: 100% ;
}



.todo{
  margin-top:	3.5%;
  margin-right: 10%;
  margin-bottom: 4%;
  margin-left: 10%;
}

.fontHadStyle{
  padding-top: 20px;
  padding-left: 3%;
  height: 100px;
  color: aliceblue;
  background-color: #3f51b5;
  font-weight: 300;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
